* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Creepster', cursive;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: white;
    height: 6rem;
    padding: 1rem;
}

header img {
    height: 100%;
    vertical-align: middle;
}

header h1 {
    vertical-align: middle;
    display: inline-block;
    font-size: 3.3rem;
    font-weight: 900;
    margin-left: 0.3rem;
}

body {
    background-color: #f6f8f9;
}

section.buttons {
    width: 55rem;
    background-color: white;
    margin: 3rem auto 0.2rem auto;
    padding: 0.8rem 2rem 0.6rem 3rem;
    border-radius: 0.8rem 0.8rem 0rem 0rem;;
}

button {
    border: none;
}

button.add_section_button {
    border: 1px solid lightgray;
}

main {
    width: 55rem;
    background-color: white;
    margin: 0rem auto 1rem auto;
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 0rem 0rem 0.4rem 0.4rem;;
}

ul {
    padding: 0;
}

li {
    box-sizing: content-box;
    margin: 1rem 0;
}

.add_task_button {
    background-color: #47adf1;
    border-radius: 0.3rem;
    border-color: #47adf1;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

.add_section_button {
    background-color: white;
    border-radius: 0.3rem;
    border-color: lightgrey;
    color: lightgrey;
    font-weight: bold;
    padding: 0.5rem;
}

.list_element {
    list-style-type: none;
}

.task_done {
    box-sizing: content-box;
    border: 2px solid lightgreen;
    color: lightgreen;
    border-radius: 50%;
}

.task_not_done {
    box-sizing: content-box;
    border: 2px solid red;
    color: red;
    border-radius: 50%;
}

.task_type_editorial {
    padding: 0.4rem;
    border-radius: 0.7em;
    background-color: #47adf1;
    color: white;
}

.task_type_q1_goals {
    padding: 0.4rem;
    border-radius: 0.7em;
    background-color: #9c72e4;
    color: white;
}

.task_type_recruiting {
    padding: 0.4rem;
    border-radius: 0.7em;
    background-color: #64c0a9;
    color: white;
}

.task_type_mobile {
    padding: 0.4rem;
    border-radius: 0.7em;
    background-color: #f29e33;
    color: white;
}

.task_type_website {
    padding: 0.4rem;
    border-radius: 0.7em;
    background-color: #d863a1;
    color: white;
}

.task_type_sales {
    padding: 0.4rem;
    border-radius: 0.7em;
    background-color: b0c926;
    color: white;
}

